{% extends "layout.html" %}
{% block content %}
{% if user_id %}
<div class="content-section">
    <legend class="border-bottom mb-4">Member Information</legend>
    <img class="QR-code-img" src="https://api.qrserver.com/v1/create-qr-code/?data={{ current_user.id }}&amp;size=100x100">
</div>
{% else %}
<div class="content-section">
    <legend class="border-bottom mb-4">Are you currently a member?</legend>
    <p>Login or Register to see your QR code!</p>
</div>
{% endif %}
{% endblock content %}